<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Blun.ConfigurationManager" version="1.0.5686.2674" targetFramework="net461" />
  <package id="EPPlus" version="3.1.3" targetFramework="net461" />
  <package id="ExcelPackage" version="1.0.0" targetFramework="net461" />
  <package id="OfficeOpenXml.Core.ExcelPackage" version="1.0.0" targetFramework="net461" />
  <package id="Remotion.Data.Linq" version="1.0.0" targetFramework="net461" />
  <package id="SysdataExcelPackage40" version="1.2.3" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net461" />
  <package id="System.IO.Packaging" version="4.0.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net461" />
</packages>